{% extends "base.html.twig" %}
{% block title %}Candidature{% endblock %}
{% block body %}
<table class="table">
    <thead>
    <tr style="background-color: rgba(0, 15, 108, 0.44); color: white;">
      <th scope="col">ID</th>
      <th scope="col">Poste</th>
      <th scope="col">Candidat Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Statut</th>
      <th scope="col"> <i class="bi bi-pencil-fill mr-1"></i> Modification</th>
      <th scope="col"> <i class="bi bi-trash-fill mr-1"></i> Suppression</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-100">
    {% for candidature in candidature %}
        <tr class="bg-gray-50">
            <td class="p-3 whitespace-nowrap">{{ candidature.id }}</td>
            <td class="p-3 whitespace-nowrap">{{ candidature.poste }}</td>
            <td class="p-3 whitespace-nowrap">{{ candidature.candidatNom }}</td>
            <td class="p-3 whitespace-nowrap">{{ candidature.email }}</td>
            <td class="p-3 whitespace-nowrap">{{ candidature.statut }}</td>
            <td class="p-3 whitespace-nowrap">
              <a href="modifierCandidature/{{candidature.ID}}"  class="btn-modifier inline-block px-4 py-2 rounded-pill text-sm text-white border-2">
               Modifier
              </a>
            </td>
            <td class="p-3 whitespace-nowrap">
              <a href="modifierCandidature/{{candidature.ID}}" class="btn-supprimer inline-block px-4 py-2 rounded-pill text-sm text-white border-2" onclick="return confirm('Voulez-vous vraiment supprimer cette candidature?')">
               Supprimer
              </a>
            </td>
        </tr>
    {% endfor %}  
  </tbody>
</table>
{% endblock %}