{% extends "base.html.twig" %}
{% block title %}Contrat{% endblock %}
{% block body %}
<table class="table">
    <thead>
    <tr style="background-color: rgba(0, 15, 108, 0.44); color: white;">
      <th scope="col">ID</th>
      <th scope="col">Employe ID</th>
      <th scope="col">Type</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
      <th scope="col">Salaire</th>
      <th scope="col"> <i class="bi bi-pencil-fill mr-1"></i> Modification</th>
      <th scope="col"> <i class="bi bi-trash-fill mr-1"></i> Suppression</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-100">
    {% for contrat in contrats %}
        <tr class="bg-gray-50">
            <td class="p-3 whitespace-nowrap">{{ contrat.id }}</td>
            <td class="p-3 whitespace-nowrap">{{ contrat.employe.id }}</td>
            <td class="p-3 whitespace-nowrap">{{ contrat.type }}</td>
            <td class="p-3 whitespace-nowrap">{{ contrat.DateDebut }}</td>
            <td class="p-3 whitespace-nowrap">{{ contrat.DateFin }}</td>
            <td class="p-3 whitespace-nowrap">{{ contrat.salaire }}</td>
            <td class="p-3 whitespace-nowrap">
              <a a href="modifierContrat/{{contrat.ID}}"  class="btn-modifier inline-block px-4 py-2 rounded-pill text-sm text-white border-2">
               Modifier
              </a>
            </td>
            <td class="p-3 whitespace-nowrap">
              <a a href="modifierContrat/{{contrat.ID}}" class="btn-supprimer inline-block px-4 py-2 rounded-pill text-sm text-white border-2" onclick="return confirm('Voulez-vous vraiment supprimer ce contrat?')">
               Supprimer
              </a>
            </td>
        </tr>
    {% endfor %}  
  </tbody>
</table>
{% endblock %}