{% extends "base.html.twig" %}
{% block title %}Employé{% endblock %}
{% block body %}
<table class="table" >
    <thead>
    <tr style="background-color: rgba(0, 15, 108, 0.44); color: white;">
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Poste</th>
      <th scope="col">Salaire</th>
      <th scope="col">Date Embauche</th>
      <th scope="col">Contrat ID</th>
      <th scope="col"> <i class="bi bi-pencil-fill mr-1"></i> Modification</th>
      <th scope="col"> <i class="bi bi-trash-fill mr-1"></i> Suppression</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-100">
    {% for employe in employe %}
        <tr class="bg-gray-50">
            <td class="p-3 whitespace-nowrap">{{ employe.id }}</td>
            <td class="p-3 whitespace-nowrap">{{ employe.nom }}</td>
            <td class="p-3 whitespace-nowrap">{{ employe.prenom }}</td>
            <td class="p-3 whitespace-nowrap">{{ employe.email }}</td>
            <td class="p-3 whitespace-nowrap">{{ employe.poste }}</td>
            <td class="p-3 whitespace-nowrap">{{ employe.salaire }}</td>
            <td class="p-3 whitespace-nowrap">{{ employe.DateEmbauche }}</td>
            <td class="p-3 whitespace-nowrap">
                        {% for contrat in employe.contrat %}
                        {{ contrat.id }} 
                        {% if not loop.last %}, {% endif %}
                        {% else %}
                            Aucun contrat
                        {% endfor %}
                  </td>
            <td class="p-3 whitespace-nowrap">
              <a href="modifier/{{employe.ID}}"  class="btn-modifier inline-block px-4 py-2 rounded-pill text-sm text-white border-2">
               Modifier
              </a>
            </td>
            <td class="p-3 whitespace-nowrap">
              <a href="supprimer/{{employe.ID}}" class="btn-supprimer inline-block px-4 py-2 rounded-pill text-sm text-white border-2" onclick="return confirm('Voulez-vous vraiment supprimer cet employé?')">
               Supprimer
              </a>
            </td>
        </tr>
    {% endfor %}  
  </tbody>
</table>
{% endblock %}