{% extends "base.html.twig" %}
{% block title %}Historique des modifications{% endblock %}
{% block body %}
<table class="table" style="background: rgb(255, 255, 255); ">
  <thead>
    <tr style="background-color: rgba(0, 15, 108, 0.44); color: white;">
      <th scope="col">ID</th>
      <th scope="col">NomTable</th>
      <th scope="col">NomChamp</th>
      <th scope="col"><i class="bi bi-save"></i> AncienneValeur</th>
      <th scope="col"><i class="bi bi-cloud-upload"></i> NouvelleValeur</th>
      <th scope="col"><i class="bi bi-calendar-check"></i> DateModification</th>
      <th scope="col"><i class="bi bi-person-circle me-1"></i>Utilisateur</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-100">
    {% for modification in historiqueModification %}
        <tr class="bg-gray-50">
            <td class="p-3 whitespace-nowrap">{{ modification.id }}</td>
            <td class="p-3 whitespace-nowrap">{{ modification.nomTable }}</td>
            <td class="p-3 whitespace-nowrap">{{ modification.nomChamp }}</td>
            <td class="p-3 whitespace-nowrap">{{ modification.ancienneValeur }}</td>
            <td class="p-3 whitespace-nowrap">{{ modification.nouvelleValeur }}</td>
            <td class="p-3 whitespace-nowrap">{{ modification.dateModification|date('Y-m-d H:i:s') }}</td>
            <td class="p-3 whitespace-nowrap">{{ modification.utilisateur }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
