{% extends "base.html.twig" %}
{% block title %}modifier candidature{% endblock %}
{% block body %}
<section class="cadre" style="margin:auto; background:white; width: 700px; box-shadow: 0 6px 15px rgb(241, 203, 255) !important; transition: box-shadow 0.2s;">
    <h1 class="font-bold text-center" style="color:rgba(123, 243, 116, 0.69);">Modifier une candidature</h1>
    
  <div class="form-aligner">
    <form action="/modificationCandidature" method="post"> 

     <div>
          <input type="hidden"  name="id" value="{{ candidature.id }}" required>
     </div> 
     
     <div class="text-center mb-4">
        <label for="poste" class="input-form">Poste:</label>
        <input id="poste" type="text" name="poste" value="{{candidature.poste}}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="candidatNom" class="input-form">Nom du candidat:</label>
        <input id="candidatNom" type="text" name="candidatNom" value="{{candidature.candidatNom}}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="email" class="input-form">Email:</label>
        <input id="email" type="email" name="email" value="{{candidature.email}}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="statut" class="input-form">Statut:</label>
        <input id="statut" type="text" name="statut" value="{{candidature.statut}}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center"> 
        <button class="btn-submit border border-gray-300 rounded" type="submit">Modifier</button>
      </div>

    </form>
  </div>

</section>
{% endblock %}