{% extends "base.html.twig" %}
{% block title %}modifier employé{% endblock %}
{% block body %}
<section class="bg-white p-6 rounded-lg w-full max-w-lg" style="box-shadow: 0 4px 10px rgba(181, 10, 228, 0.35);">
    <h1 class="font-bold text-center mb-4" style="color:rgba(25, 10, 228, 0.35);">Modifier un employé</h1>
    
    <form action="/modifierEmploye" method="post">  
      <div>
         <input type="hidden"  name="id" value="{{ employe.id }}" required>
      </div>

     <div class="text-center mb-4">
        <label for="nom" class="input-form">Nom</label>
        <input id="nom" type="text" name="nom"  value="{{ employe.nom }}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="prenom" class="input-form">Prénom</label>
        <input id="prenom" type="text" name="prenom" value="{{ employe.prenom }}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="email" class="input-form">Email</label>
        <input id="email" type="email" name="email" value="{{ employe.email }}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="poste" class="input-form">Poste</label>
        <input id="poste" type="text" name="poste" value="{{ employe.poste }}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="salaire" class="input-form">Salaire</label>
        <input id="salaire" type="text" name="salaire" pattern="^\d+(\.\d{1,2})?$" value="{{ employe.salaire }}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="date" class="input-form">Date d'embauche</label>
        <input id="date" type="date" name="date" value="{{ employe.dateEmbauche }}" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center"> 
        <button class="btn-submit border border-gray-300 rounded" type="submit">Modifier</button>
      </div>
    </form>
  </section>
{% endblock %}