{% extends "base.html.twig" %}
{% block title %}Timesheet{% endblock %}
{% block body %}
<table class="table table-striped table-hover table-bordered align-middle shadow-sm">
  <thead style="background-color: white;">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Employe ID</th>
      <th scope="col">Date</th>
      <th scope="col">Heures travail</th>
      <th scope="col">Heueres Sup</th>
      <th scope="col">Modification</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
    {% for timesheet in timesheet %}
        <tr>
            <td>{{ timesheet.id }}</td>
            <td>{{ timesheet.employe.id }}</td>
            <td>{{ timesheet.date }}</td>
            <td>{{ timesheet.HeuresTravail }}</td>
            <td>{{ timesheet.HeuresSup }}</td>
            <td><a href="modifierTimesheet/{{timesheet.ID}}" class="btn btn-sm rounded-pill text-white" style="background-color: #28a745;">Modifier</a></td>
            <td><a href="supprimerTimesheet/{{timesheet.ID}}" class="btn btn-sm rounded-pill text-white" style="background-color:rgb(228, 10, 32);" onclick="return confirm('Voulez-vous vraiment supprimer cette candidature?')">Supprimer</a></td>
        </tr>
    {% endfor %}  
  </tbody>
</table>{% endblock %}